<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269318126118-1okee6h2hvj2gft9p05ki94qisfatf89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269318126118-1okee6h2hvj2gft9p05ki94qisfatf89</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269318126118-cp3js8sb2v0961q8mg3c6h4gtq22pmml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjHJTHg_QH6D3Jd0EXdaU7_a8Wunijksg</string>
	<key>GCM_SENDER_ID</key>
	<string>269318126118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pmorales.saver.expense.manager</string>
	<key>PROJECT_ID</key>
	<string>saver-expense-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>saver-expense-manager.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269318126118:ios:e540158656abbe49fb04e7</string>
</dict>
</plist>